.emacs.d/backups
.emacs.d/elpa
.emacs.d/cider-history
.emacs.d/url
.emacs.d/projectile-bookmarks.eld
.emacs.d/auto-save-list
.emacs.d/.recentf~
.emacs.d/.recentf
.emacs.d/.smex-items
.emacs.d/places
.emacs.d/ido.last
.emacs.d/.DS_Store
.emacs.d/ac-comphist.dat
.emacs.d/projectile.cache
.emacs.d/recentf
.DS_Store
